<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title> Delete Tour Guide </title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <br>
        <h2 th:text="'Tour Guide berhasil dihapus.'">
        </h2>
        <a class="btn btn-primary" th:href="@{/agensi/view(noAgensi=${noAgensi})}">Kembali</a>

      </div>
    </div>
  </div>
</div>

</body>

</html>