<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <h2>Selamat datang di PergiPergi</h2>
        <div class="d-flex justify-content-center">
            <a th:href="@{/agensi/viewall}" class="mx-2 btn btn-primary">Lihat semua agensi</a>
            <a th:href="@{/agensi/add}" class="mx-2 btn btn-outline-primary">Tambah agensi</a>
        </div>
        <div class=" my-3 d-flex justify-content-center">
            <a th:href="@{/destinasi/viewall}" class="mx-2 btn btn-primary">Lihat semua destinasi</a>
            <a th:href="@{/destinasi/add}" class="mx-2 btn btn-outline-primary">Tambah destinasi</a>
        </div>
    </div>
</div>
</body>

</html>