<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Nomor Telepon</title>
</head>
<body>
<h2>Nomor Telepon berhasil diubah!</h2>
<h3 th:text="'ID Travel Agensi: ' + ${agensi.idAgensi}"></h3>
<h3 th:text="'Nama Travel Agensi: ' + ${agensi.namaAgensi}"></h3>
<h3 th:text="'Alamat Travel Agensi: ' + ${agensi.alamat}"></h3>
<h3 th:text="'Nomor Telp. Travel Agensi: ' + ${agensi.noTelepon}"></h3>
<a href="/agensi/viewAll">Kembali</a>
</body>
</html>